{% extends 'base.html' %}

{% block content %}

    <h1>Index page</h1>

{% endblock %}

{#{% load static %}#}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#	<head>#}
{#		<meta charset="UTF-8">#}
{#		<meta name="viewport" content="width=device-width, initial-scale=1">#}
{#        {% if request.user.is_authenticated %}#}
{#            <p>Hello, {{ request.user.username }} | <a href="{% url 'logout' %}">Logout</a></p>#}
{#        {% else %}#}
{#            <p><a href="{% url 'register' %}">Register | <a href="{% url 'login' %}">Login</a></a></p>#}
{#        {% endif %}#}
{#		<link rel="stylesheet" href="{% static 'styles.css' %}">#}
{#	</head>#}
{#    <body>#}
{#        <h1>Index page</h1>#}
{#    </body>#}
{#</html>#}