{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tv Tracker</title>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
        integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
            integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">
    <script src="{% static 'tracker/js/main.js' %}"></script>
	</head>
    <body>
      <div class="nav">

        <a href="{% url 'index' %}">Home</a> |
        <a href="{% url 'logout' %}" class="{% if request.user.is_authenticated is False%}hidden{% endif %}">Logout</a> |
        <a href="{% url 'watchlist' %}" class="{% if request.user.is_authenticated is False%}hidden{% endif %}">Watchlist</a>
        <p id="temp" class="{% if request.user.is_authenticated is False %}hidden{% endif %}">Hello, {{ request.user.username }}</p>
        <a href="#regModal" class="trigger-btn {% if request.user.is_authenticated %}hidden{% endif %}" data-toggle="modal">Register</a>
        <div id="regModal" class="modal fade">
          <div class="modal-dialog modal-register">
            <div class="modal-content">
              <form action="{% url 'register' %}" method="post"> {% csrf_token %}
                <div id="reg-modal-header" class="modal-header">
                  <h4 id="reg-title" class="modal-title">Register</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" id="reg-email" autofocus="" required>
                  </div>
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" id="reg-username" required>
                  </div>
                  <div class="form-group">
                    <div class="clearfix">
                      <label>Password</label>
                    </div>
                    <input type="password" name="password1" class="form-control" id="reg-password1" required>
                  </div>
                  <div class="form-group">
                    <div class="clearfix">
                      <label>Password confirmation</label>
                    </div>
                    <input type="password" name="password2" class="form-control" id="reg-password2" required>
                  </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <input id="reg-btn" type="submit" class="btn btn-primary" value="Register">
                </div>
              </form>
            </div>
          </div>
        </div>|
        <a href="#loginModal" class="trigger-btn {% if request.user.is_authenticated %} hidden {% endif %}" data-toggle="modal">Login</a>
        <div id="loginModal" class="modal fade">
          <div class="modal-dialog modal-login">
            <div class="modal-content">
              <form action="{% url 'login' %}" method="post"> {% csrf_token %}
                <div id="login-modal-header" class="modal-header">
                  <h4 id="login-title" class="modal-title">Login</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>Email</label>
                    <input id="email" type="text" name="email" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <div class="clearfix">
                      <label>Password</label>
{#                                                <a href="#" class="float-right text-muted"><small>Forgot?</small></a>#}
                    </div>
                    <input id="password" type="password" name="password" class="form-control" required>
                  </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <label class="form-check-label"><input id="remember" type="checkbox" value="remember"> Remember me</label>
                  <input id="login-btn" type="submit" class="btn btn-primary" value="Login">
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
        <div id="app">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>