img {
  object-fit: cover;
}

td {
  clear: both;
}

.centered-box {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: calc(100vh - 30px);
}

.content {
  width: 100%;
  margin-top: -30px;
}

#search {
  margin: auto;
  max-width: 600px;
}