img {
  object-fit: cover;
}

td {
  clear: both;
}

.centered-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: calc(100vh - 5rem);
}

.content {
  width: 100%;
  margin-top: -10rem;
}

#search {
  margin: auto;
  max-width: 600px;
}

#app {
  margin-top: calc(56px + .5rem);
}

.navbar {
  border: 1px solid rgba(0,0,0,.125);
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #FFFEFF;
}

body {
  background-color: #F5FFFE;
}

.card {
  background-color: #FFFFFE;
}

p#temp {
  margin: 0;
}

h4#login-title {
  display: inline-block;
}

.hide, .hidden {
  display: none;
}

.responsive {
  max-width: 100%;
  max-height: 10%;
}

.card-img {
  max-height: 122.5px;
  width: auto;
}

.service-icon {
  max-width: 4rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#search-btn:hover #search-icon {
  filter: grayscale(100%);
}