img {
  object-fit: cover;
}

td {
  clear: both;
}

.centered-box {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: calc(100vh - 5rem);
}

.content {
  width: 100%;
  margin-top: -20rem;
}

#search {
  margin: auto;
  max-width: 600px;
}

.nav {
  height: 5rem;
}

p#temp {
  margin: 0;
}

h4#login-title {
  display: inline-block;
}

.hide, .hidden {
  display: none;
}